In [1]:
import pandas as pd
import os

read in files

In [2]:
taxa_df = pd.read_csv('taxa.csv')
otu_df = pd.read_csv('otu.csv')
sample_data_df = pd.read_csv('sample_data.csv')

otu_df

,Unnamed: 0,RRN-SKG2-p1-65,RRN-SKG2-p1-66,RRN-SKG2-p1-67,RRN-SKG2-p1-68,RRN-SKG2-p1-69,RRN-SKG2-p1-70,RRN-SKG2-p1-71,RRN-SKG2-p1-72
0,768377abe500ad4d09c43a4532e533b1,2109,617,340,3329,281,2112,1736,184
1,c12b77b8b00eee715945f54d3ce0bd87,0,0,0,0,0,0,0,0
2,caa314c8bbe94ec49c4b5e7ac761c89c,2691,896,420,5042,98,3179,282,1046
3,db35c906865fb1665ab2ed219d1e567e,836,25,2065,112,168,206,1643,144
4,c40d1ea1bab89e3c59c66d9ebba95dbd,3541,1453,1449,744,2219,1377,737,322
...,...,...,...,...,...,...,...,...,...
1374,0c6be2f1306b70e76f6aba69b1ab5b93,0,0,0,0,0,0,0,0
1375,7bbb77961d1e324e1d52013da3040d99,0,0,0,0,0,0,0,0
1376,81c8fb6ade4a2a205ebc9edd13c36287,0,0,0,0,0,0,0,0
1377,168647e9e55ed8c1153feffe02ab9e26,0,0,0,0,0,0,0,0
1378,f6fd701abbf60133daa3b23fc6f8abc1,0,0,0,0,0,0,0,0

remove OTUs that are less than 0.1% for all samples

In [3]:
otu_df.rename(columns={ otu_df.columns[0]: 'id' }, inplace = True)
otu_delete_lst = []

otu_lst = otu_df.iloc[:,0].tolist()
for otu in otu_lst:
    otu_row = otu_df.loc[otu_df['id'] == otu]
    otu_values_lst = otu_row.iloc[0, 1:].tolist()
    for value in otu_values_lst:
        if value >= 0:
            break
    else:
        otu_delete_lst.append(otu)
        
otu_df = otu_df[~otu_df['id'].isin(otu_delete_lst)]
otu_df

,id,RRN-SKG2-p1-65,RRN-SKG2-p1-66,RRN-SKG2-p1-67,RRN-SKG2-p1-68,RRN-SKG2-p1-69,RRN-SKG2-p1-70,RRN-SKG2-p1-71,RRN-SKG2-p1-72
0,768377abe500ad4d09c43a4532e533b1,2109,617,340,3329,281,2112,1736,184
1,c12b77b8b00eee715945f54d3ce0bd87,0,0,0,0,0,0,0,0
2,caa314c8bbe94ec49c4b5e7ac761c89c,2691,896,420,5042,98,3179,282,1046
3,db35c906865fb1665ab2ed219d1e567e,836,25,2065,112,168,206,1643,144
4,c40d1ea1bab89e3c59c66d9ebba95dbd,3541,1453,1449,744,2219,1377,737,322
...,...,...,...,...,...,...,...,...,...
1374,0c6be2f1306b70e76f6aba69b1ab5b93,0,0,0,0,0,0,0,0
1375,7bbb77961d1e324e1d52013da3040d99,0,0,0,0,0,0,0,0
1376,81c8fb6ade4a2a205ebc9edd13c36287,0,0,0,0,0,0,0,0
1377,168647e9e55ed8c1153feffe02ab9e26,0,0,0,0,0,0,0,0
1378,f6fd701abbf60133daa3b23fc6f8abc1,0,0,0,0,0,0,0,0

reformat otu column names

In [4]:
taxa_df.rename(columns={ taxa_df.columns[0]: 'id' }, inplace = True)
taxa_df = taxa_df.fillna('unclassified')
otu_lst = otu_df.iloc[:,0].tolist()

for otu in otu_lst:
    otu_row = taxa_df.loc[taxa_df['id'] == otu]
    
    kingdom = otu_row.iloc[0, 1]
    phylum = otu_row.iloc[0, 2]
    clas = otu_row.iloc[0, 3]
    order = otu_row.iloc[0, 4]
    family = otu_row.iloc[0, 5]
    genus = otu_row.iloc[0, 6]
    species = otu_row.iloc[0, 7]
    
    formatted_name = f'k__{kingdom}|p__{phylum}|c__{clas}|o__{order}|f__{family}|g__{genus}|s__{genus}_{species}'
    otu_df.loc[otu_df['id']==otu, 'id'] = formatted_name


#otu_df = otu_df.groupby(otu_df.index).sum(numeric_only = True)

otu_df

,id,RRN-SKG2-p1-65,RRN-SKG2-p1-66,RRN-SKG2-p1-67,RRN-SKG2-p1-68,RRN-SKG2-p1-69,RRN-SKG2-p1-70,RRN-SKG2-p1-71,RRN-SKG2-p1-72
0,k__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...,2109,617,340,3329,281,2112,1736,184
1,k__Bacteria|p__Proteobacteria|c__Gammaproteoba...,0,0,0,0,0,0,0,0
2,k__Bacteria|p__Firmicutes|c__Bacilli|o__Lactob...,2691,896,420,5042,98,3179,282,1046
3,k__Bacteria|p__Firmicutes|c__Bacilli|o__Lactob...,836,25,2065,112,168,206,1643,144
4,k__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...,3541,1453,1449,744,2219,1377,737,322
...,...,...,...,...,...,...,...,...,...
1374,k__Bacteria|p__Firmicutes|c__Clostridia|o__Lac...,0,0,0,0,0,0,0,0
1375,k__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...,0,0,0,0,0,0,0,0
1376,k__Bacteria|p__Firmicutes|c__Clostridia|o__Lac...,0,0,0,0,0,0,0,0
1377,k__Bacteria|p__Firmicutes|c__Clostridia|o__Lac...,0,0,0,0,0,0,0,0
1378,k__Bacteria|p__Firmicutes|c__Clostridia|o__Lac...,0,0,0,0,0,0,0,0

get labels

In [5]:
targets = []
samples = otu_df.columns[1:]
for sample in samples:
    target = sample_data_df.loc[sample_data_df['SampleLabel'] == sample, 'Genotype'].iloc[0] #EDIT THIS
    #target2 = sample_data_df.loc[sample_data_df['SampleLabel'] == sample, 'TimePoint'].iloc[0]

    
    
    #SKGNak -> 0
    #WT -> 1
    #SKGBoyJ ->2
    #if target == 1 & (target2 == 3):
    if 1 == 2:
        targets.append(1)
    else:
        targets.append(0)
    # elif 'SKGBoyJ' in target:
    #label = 2
    #targets.append(label)

    
targets

[0, 0, 0, 0, 0, 0, 0, 0]

export dataframes to tsv and txt files

In [6]:
folder_name = 'SKG2-mtx-wt-t5' #EDIT

otu_df.to_csv('../data/' + folder_name + '/abundance.tsv', sep="\t", header=None,index=False)
with open('../data/' + folder_name + '/labels.txt', 'w') as f:
    for line in targets:
        f.write(f"{line}\n")